@import "../../../../App";
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  &_avatar{
    display: block;
    width: 44px;
    height: 44px;
  }
  &_text{
    margin: 0;
    width: 277px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
    color: $text;
    @include mediumMobile{
      flex-grow: 1;
      margin-left: 20px;
    }
  }
  &_buttons{
    display: flex;
    width: 53px;
    justify-content: space-between;
    align-items: flex-start;
    @include mediumMobile {
      flex-flow: column;
    }
    &_wrapper{
      transition: all .2s;
      cursor: pointer;
      &_like{
        width: 21px;
        height: 21px;
      }
      &_count{
        text-align: center;
        margin: -12px 0 0;
      }
      &:hover{
        transform: scale(1.2);
      }
    }
    &_button{
      width: 21px;
      height: 21px;
      opacity: 0.5;
      transition: all .2s;
      cursor: pointer;
      &:hover{
        opacity: 1;
        transform: scale(1.2);
      }
      @include mediumMobile {
        margin-top: 10px;
      }
    }
  }
}
.wrapper {
  position: relative;
  margin-top: 10px;
  margin-left: 60px;
  display: block;
  @include mediumMobile{
    margin: 10px auto;
  }
  &_commentsButton {
    cursor: pointer;
    width: 21px;
    height: 21px;
    opacity: 0.5;
    @include mediumMobile{
      margin-left: 60px;
    }
  }
  &_countComments{
    position: absolute;
    margin: 0;
    top: -4px;
    left: 25px;
    font-weight: normal;
    font-size: 16px;
    color: black;
    @include mediumMobile {
      left: 84px;
    }
    &_write{
      margin: 0 auto;
      color: $background;
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
    }
  }
}

