@import "./../../App";

.content {
  display: flex;
  justify-content: center;
  margin-top: 300px;

  &_signIn {
    display: block;
    outline: none;
    border: solid 1px $background;
    background: none;
    width: 200px;
    height: 70px;
    font-size: 30px;
    font-weight: normal;
    color: $background;
    border-radius: 6px;
    transition: all .2s;

    &:hover {
      background: $background;
      color: #FFFFFF;
    }


  }
}