@import "./../../App";
.content{
  position: relative;
  height: 100%;
  padding: 51px;
  @include tablet{
    padding: 10px;
  }
  &::-webkit-scrollbar{
    width: 0;
  }
  &_posts{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    width: 491px;
    margin: 0 auto;
    @include tablet{
      width: 100%;
    }
    &_post{
      margin-top: 27px;
      width: 87%;
    }
  }
}