@import "./../../App";

.content {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  &_background {
    position: absolute;
    z-index: 1;
    width: 825px;
    height: 406px;
  }

  &_profile {
    position: relative;
    z-index: 1;
    top: 300px;
    min-height: 702px;
    background: #FFFFFF;
    border-radius: 30px 30px 0 0;
    padding: 4px 97px 4px 86px;
    @include tablet {
      padding: 10px;
    }

    &_flex {
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;
      @include tablet {
        flex-flow: column;
      }

      &_avatar {
        position: relative;
        bottom: 51px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        @include tablet {
          width: 100px;
          height: 100px;
          left: 39%;
        }
        @include bigMobile {
          left: 43%;
        }
        @include mediumMobile {
          left: 40%;
        }
        @include smallMobile {
          left: 32%;
        }
      }

      &_name {
        font-weight: normal;
        font-size: 18px;
        color: $text;
        margin: 0;
        text-align: center;
      }

      &_information {
        @include tablet {
          margin-top: 20px;
        }
        @include bigMobile {
          display: none;
        }

        &_el {
          font-weight: 900;
          font-size: 18px;
          color: $text;
          margin: 9px 0 0;
          text-align: center;

          span {
            font-weight: normal;
          }
        }
      }

      &_activeInformation {
        display: block;
      }

      &_desc {
        display: none;
        text-align: center;
        font-size: 18px;
        font-weight: normal;
        color: $mainColor;
        @include bigMobile {
          display: block;
        }
      }
    }

    &_newPost {
      margin-top: 96px;
    }
  }
}