@import "./../../App";

.content {
  position: relative;
  height: 100%;

  &::-webkit-scrollbar {
    width: 0;
  }

  &_background {
    position: absolute;
    z-index: 1;
    width: 825px;
    height: 406px;
  }

  &_profile {
    position: relative;
    z-index: 1;
    top: 300px;
    min-height: 702px;
    background: #FFFFFF;
    border-radius: 30px 30px 0 0;
    padding: 4px 97px 4px 86px;
    @include tablet {
      padding: 10px;
    }

    &_errorWrapper {
      margin: 100px auto;
      width: 400px;
      @include mediumMobile{
        width: 100%;
      }
      &_error {
        font-size: 40px;
        color: gray;
        font-weight: 900;
      }

      &_text {
        font-size: 25px;
        color: black;
        font-weight: 500;
      }
    }

    &_flex {
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;
      @include tablet {
        flex-flow: column;
      }

      &_avatar {
        cursor: pointer;
        position: relative;
        bottom: 51px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        @include tablet {
          width: 100px;
          height: 100px;
          left: 39%;
        }
        @include bigMobile {
          left: 43%;
        }
        @include mediumMobile {
          left: 40%;
        }
        @include smallMobile {
          left: 32%;
        }
      }

      &_file {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        background: #c9c9c9;
        bottom: 51px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        box-shadow: inset 0 0 20px black;

        &_add {
          width: 40px;
          height: 40px;
          fill: gray;
        }

        @include tablet {
          width: 100px;
          height: 100px;
          left: 39%;
        }
        @include bigMobile {
          left: 43%;
        }
        @include mediumMobile {
          left: 40%;
        }
        @include smallMobile {
          left: 32%;
        }
      }

      &_name {
        font-weight: normal;
        font-size: 18px;
        color: $text;
        margin: 0;
        text-align: center;
      }

      &_information {
        @include tablet {
          margin-top: 20px;
        }
        @include bigMobile {
          display: none;
        }

        &_el {
          font-weight: 900;
          font-size: 18px;
          color: $text;
          margin: 9px 0 0;
          text-align: center;

          span {
            font-weight: normal;
          }
        }
      }

      &_activeInformation {
        display: block;
      }

      &_desc {
        display: none;
        text-align: center;
        font-size: 18px;
        font-weight: normal;
        color: $mainColor;
        @include bigMobile {
          display: block;
        }
      }
    }

    &_newPost {
      margin-top: 96px;
    }
  }

  &_fullscreen {
    cursor: pointer;
    display: flex;
    justify-content: center;
    z-index: 3;
    align-items: center;
    position: fixed;
    top: 7%;
    left: 23%;
    background: black;
    border: solid 3px white;
    @include tablet {
      left: 14%;
    }
    @include bigMobile {
      top: 14%;
    }
    @include bigMobile {
      left: 2%;
      top: 25%;
    }

    &_logo {
      width: 890px;
      height: 800px;
      @include bigTablet {
        width: 750px;
        height: 700px;
      }
      @include tablet {
        width: 650px;
        height: 600px;
      }
      @include bigMobile {
        width: 550px;
        height: 500px;
      }
      @include mediumMobile {
        width: 300px;
        height: 250px;
      }

    }
  }
}