@import "./../../../../App";

.comments {
  list-style-type: none;
  margin-top: 17px;
  padding: 0;

  &_comment {
    margin-top: 17px;
    width: 293px;
    @include bigMobile {
      margin: 10px auto;
    }
    @include smallMobile {
      width: 100%;
    }
  }
}

.container {
  margin-top: 17px;
  display: flex;
  width: 292px;
  justify-content: space-between;
  align-items: flex-start;
  @include bigMobile {
    width: 100%;
    justify-content: center;
    margin-left: 0;
  }
  @include smallMobile {
    justify-content: center;
  }

  &_avatar {
    display: block;
    width: 31px;
    height: 31px;
    @include smallMobile {
      margin-right: 20px;
    }
  }

  &_wrapper {
    &_input {
      width: 273px;
      height: 37px;
      outline: none;
      background: none;
      border: none;
      border-bottom: solid 1px $mainColor;
      padding: 5px;
      color: $text;
      font-size: 13px;
      font-weight: normal;
      @include smallMobile {
        width: 100%;
      }

      &::placeholder {
        font-weight: normal;
        font-size: 13px;
        color: #BBB9B9;
      }

    }
  }
}