$background: #3B8BEB;
$title: #E5E5E5;
$mainColor: #B23850;
$text: #0B4081;
@mixin bigTablet() {
  @media screen and (max-width: 1226px) {
    @content
  }
}

@mixin tablet() {
  @media screen and (max-width: 992px) {
    @content
  }
}

@mixin bigMobile() {
  @media screen and (max-width: 768px) {
    @content
  }
}

@mixin mediumMobile() {
  @media screen and (max-width: 576px) {
    @content
  }
}

@mixin smallMobile() {
  @media screen and (max-width: 354px) {
    @content
  }
}

@mixin container() {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  @include bigTablet {
    max-width: 992px;
  }
  @include tablet {
    max-width: 850px;
  }
  @include bigMobile {
    max-width: none;
    padding: 0;
  }

}

.grid {
  @include container;
  display: grid;
  height: 817px;
  grid-template-areas: "nav content";
  grid-gap: 30px;
  margin-top: 50px;
  @include bigMobile {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  &_nav {
    grid-area: nav;
  }

  &_content {
    grid-area: content;
    width: 825px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #FFFFFF;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.25);
    &::-webkit-scrollbar{
      width: 0;
    }
    @include bigTablet() {
      width: 100%;
    }
  }
}
.container-loader{
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255, 0.5);
  &_loader{
    display: block;
    width: 160px;
    height: 160px;
  }
}

