@import "./../../App";
.nav{
  width: 255px;
  height: 668px;
  background: #E5EAF6;
  padding: 20px 12px;
  @include bigMobile{
    display: none;
  }
  &_title{
    font-weight: 900;
    font-size: 25px;
    color: $mainColor;
    margin: 0;
    text-align: center;
  }
  &_el{
    width: 100%;
    border: 1px solid $mainColor;
    margin-top: 14px;
  }
  &_menu{
    width: 100%;
    list-style-type: none;
    padding: 0;
    &_el{
      text-align: center;
      margin-top: 52px;
      &_link{
        font-weight: 500;
        font-size: 20px;
        color: $background;
        text-decoration: none;
      }
    }
    &_exit{
      display: block;
      margin-top: 100px;
      text-align: center;
      font-weight: 500;
      font-size: 20px;
      color: $mainColor;
      text-decoration: none;
    }
  }
}